<header class="topbar">
  <div class="topbar-left">
    <button class="btn-icon menu-toggle" (click)="toggleSidebar.emit()">
      <i class="bi bi-list"></i>
    </button>


  </div>

  <div class="topbar-right">


    @if (user()) {

    <div class="dropdown-wrapper">
      <button class="user-profile" (click)="toggleUserMenu()">
        <img [src]="user()?.image | defaultImage:'user'" alt="User" class="user-avatar">
        <div class="user-info">
          <span *ngIf="admin()" class="admin-label">Admin</span>
          <span *ngIf="!admin()">{{ user()?.name || 'Guest' }}</span>
        </div>
        <i class="bi bi-chevron-down"></i>
      </button>

      <div class="dropdown-menu user-menu" [class.show]="showUserMenu()">
        <div class="user-menu-header">
          <img [src]="user()?.image | defaultImage : 'user'" alt="User" class="user-avatar-large">
          <h6>{{ user()?.name }}</h6>
          <p>{{ user()?.email }}</p>
        </div>

        <div class="user-menu-items">
          <a routerLink="/profile" class="menu-item">
            <i class="bi bi-person-circle"></i>
            <span>My Profile</span>
          </a>
          <a routerLink="/settings" class="menu-item">
            <i class="bi bi-gear"></i>
            <span>Account Settings</span>
          </a>

          <div class="menu-divider"></div>
          <button type="button" class="menu-item text-danger" (click)="onLogout()">
            <i class="bi bi-box-arrow-right"></i>
            <span>Sign Out</span>
          </button>
        </div>
      </div>
    </div>
    } @else {
    <div class="header-actions">
      <button class="login-btn" routerLink="/login">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Se connecter</span>
      </button>

    </div>
    }
  </div>
</header>
