<div class="modal-overlay" (click)="onOverlayClick($event)">
    <div class="modal-container">
        <div class="modal-header">
          <i class="bi bi-exclamation-triangle warning-icon"></i>

          <h3 class="modal-title">{{ title }}</h3>
        </div>

        <div class="modal-body">
            <p class="message">{{ message }}</p>
            <div *ngIf="disclaimer" class="disclaimer-alert">
                <i class="fas fa-info-circle"></i>
                <p>{{ disclaimer }}</p>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-cancel" (click)="onCancel()">Annuler</button>
            <button class="btn btn-confirm" (click)="onConfirm()">Confirmer</button>
        </div>
    </div>
</div>
