<div class="edit-container">
  <div class="edit-card">
    <header class="edit-header">
      <h1>Modifier mon profil</h1>
    </header>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="edit-form">
      
      <div class="image-upload-section">
        <div class="avatar-preview">
          @if (imagePreview()) {
            <img [src]="imagePreview()" class="preview-img">
          } @else if (user()?.image) {
            <img [src]="user()?.image" class="preview-img">
          } @else {
            <div class="placeholder-avatar">{{ user()?.name?.[0] }}</div>
          }
        </div>
        <label for="imageInput" class="btn-secondary">Changer la photo</label>
        <input id="imageInput" type="file" (change)="onFileSelected($event)" hidden accept="image/*">
      </div>

      <div class="form-grid">
        <div class="form-group">
          <label>Prénom</label>
          <input type="text" formControlName="name">
        </div>

        <div class="form-group">
          <label>Nom</label>
          <input type="text" formControlName="lastName">
        </div>

        <div class="form-group">
          <label>Filière</label>
          <select formControlName="major">
            @for (m of majors; track m) {
              <option [value]="m">{{ m }}</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label>Date de naissance</label>
          <input type="date" formControlName="dateOfBirth">
          
          @if (profileForm.get('dateOfBirth')?.touched && profileForm.get('dateOfBirth')?.errors?.['minimumAge']) {
            <div class="error-text" style="color: red; font-size: 0.8rem; margin-top: 5px;">
              Vous devez avoir au moins {{ profileForm.get('dateOfBirth')?.errors?.['minimumAge'].requiredAge }} ans.
            </div>
          }
        </div>
      </div>

      <div class="action-buttons">
        <button type="submit" class="btn-save" [disabled]="profileForm.invalid || isSubmitting()">
          {{ isSubmitting() ? 'Enregistrement...' : 'Sauvegarder les modifications' }}
        </button>
      </div>
    </form>
  </div>
</div>